<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>DP Question</title>
    </head>
    <body>
        <h2>Ask me questions about Deepika Padukone</h2>
        <div>
            <form action='/respond' method='POST'>
                <label for='question_text'>Question Text</label>
                    <textarea name='question_text' rows='10' cols='30'></textarea>
                <br>
                <input type='submit' value='Answer'>
            </form>
        </div>
    </body>
</html>
